header{
    background-color: green;
    color: white;
    font-size: larger;
    padding: 0.5%;
}

ul{
    list-style-type: none;
    font-size: larger;
}

img{
    max-width: 2em;
    height: auto;
}

p{
    font-size:200%;
}

.flex_de_tache{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 3%;
}

.conteneur_image{
    display: flex;
    justify-content:center;
    align-items: center;
}

.liste_tache{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 3%;
}